@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:21 AM
    * Date Updated: 10/17/19  1:37 AM
    * A viewpage containing a list of locations
    * including pictures and descriptions of each place
    * which detail the relevance of the listings.
*@
@model List<Location>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Locations</title>
</head>
<body>
    List of Locations: <br />
    @foreach (Location place in Model)
    {
        <p style="align-content:center"> <a href="@place.Link">@place.Name; </a></p> <br />
        @place.Description; <br />
        @if (place.Commments.Count > 0)
        {
            <h4>Comments/Reviews</h4>
            @foreach (Comment c in place.Commments)
            {
                <p> @c.Sender : @c.CommentText</p>
                 <br />

            }
        }
        <br />
        <a asp-action="AddComment" asp-route-place="@place.Name">Add a Comment or Review</a> <br />
        <br />
    }
    <br />
    @*<a href="ContactPage">Add a new message</a><br />*@
    <a href="Info">For more information!</a> <br />
    <a href="/Home/Index">Home</a>
</body>
</html>
