@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:21 AM
    * Date Updated: 10/17/19  1:37 AM
    * A viewpage containing a list of locations
    * including pictures and descriptions of each place
    * which detail the relevance of the listings.
*@
@model List<Location>
@*Berk.Repositories.LocationRepository places = new Berk.Repositories.LocationRepository();
    //List<Location> places = Berk.Repositories.LocationRepository.Locations;
    ViewBag.placeCount = places.Locations.Count;*@

@{ 
    ViewData["Title"] = "Locations";
}
<body>
    <h1>List of Locations: </h1>
    @foreach (Location place in Model)
    {
        <h3> <a href="@place.Link">@place.Name; </a></h3>
        @place.Description; <br />
        @if (place.Comments.Count > 0)
        {
            <h4>Comments/Reviews</h4>
            @foreach (Comment c in place.Comments)
            {
                <p> <em>@c.Sender</em>: @c.CommentText</p>
            }
        }
        <br />
        <a asp-action="AddComment" asp-route-place="@place.Name">Add a Comment or Review</a> <br />
        <br />
    }
    <br />
    @*<a href="ContactPage">Add a new message</a><br />*@
    <a href="Info">For more information!</a> <br />
    <a href="/Home/Index">Home</a>
</body>
