@*
    * Author: Ashley Johansson
    * Date Created: 10/04/19 10:21 AM
    * Date Updated: 10/06/19  4:19 PM
    * A View Page that contains a list of some of
    * the most important people within the Berk
    * community. Including pictues and brief descriptions,
    * possibly even links to further information.
*@
@model List<VIP>
@* Berk.Repositories.PeopleRepository people = new Berk.Repositories.PeopleRepository();
    List<VIP> people = Berk.Repositories.PeopleRepository.VIPs;
    ViewBag.peopleCount = people.VIPs.Count;*@

@{ 
    ViewData["Title"] = "VIPs";
}
<body>
    <h1>List of Berk's most important people:</h1>
    @foreach (VIP person in Model)
    {
        <h3><a href="@person.Link">@person.Name</a></h3>
        @person.Reason; <br />
        @if (person.IsAlive == false)
        {
            <p>Status: @person.Dead;</p>
        }
        @if (person.IsAlive == true)
        {
            <p> Status: @person.Alive;</p>
        }
        <br />
    }
    <br />
    <a href="Locations">Cool places to see!</a> <br />
    <a href="/Home/Index">Home</a>

</body>